<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message to a gorgeous woman</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fixtures.css" />
    <link rel="stylesheet" href="~/css/league-table.css" />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            <p>Hello Nina, how are you?</p>
            <p>This is the beginning of my program! It will get more complex!!</p>
        </main>
    </div>

</body>
</html>
